@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$white-smoke: #f3f3f3;


//Logos and Images:
//(MainPageContent):
.front-wallpaper {
  background-image: url('../assets/images/chaveirofachada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);
}

.overlay {
  position: absolute;
  top: 0;
  margin-top: 10vh;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;

}

.inner {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 6vh;
}

.sticky {
  //Tornar header fixo
  position: sticky;
  top: 0;
  z-index: 100;
}

//Responsive Size:
@media (max-width: 460px) {
  .inner {
    font-size: 4vh;
  }
  .gridCol{
    // gap: 10vh;
    .clipImg{
      margin-left: 0;
    }
  }
}

.gridCol {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  span {
    margin-top: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    font-weight: 700;
  }
  .clipImg {
    clip-path: xywh(8vh 0px 12vh 100% round 1vh 1vh);
    max-width: 30vh;
    max-height: 20vh;
    width: auto;
    height: auto;
    transition: 0.3s;
  }
  &:hover{
    span{
      text-shadow: $white-smoke 0.1vh 0.1vh 1vh ;
    }
    .clipImg{
      clip-path: xywh(0 0px 100% 100% round 0vh 0vh);
    }
  }
}

//Map Area:
.mapCard{
  max-width: 60vh;
  height: 60vh;
}

//Default For All:
.default-pad{
  padding-top: 20rem;
}

//LocksmithAD:

.imgGridAnimation{
  transition: 0.3s;
  &:hover{
    padding: 1rem;
  }
}

@media(max-width: 990px){
  .titleItem{
    padding-top: 2rem;
  }
}